.movieCard{"data-movie-id": "#{movie.id}", onclick: "location.href='#{movie_timetable_page_path(movie.id)}'", style: "cursor: pointer;"}
  = image_tag (movie.poster), style: "width: 100%; height: 360px", class: "mb-3"
  %h5.movieDateIn= movie.get_date_in
  - if movie.name.size <= 44
    %h4.movieName= movie.name
  - else
    %h4.movieName= "#{movie.name[0,44]}..."

  .footermovieCard.d-flex
    .movieType.smallIcon
      %p= movie.movie_type
    .movieDuration.ms-3.smallIcon
      %p= "#{movie.duration} min"