%h1 Listing orderline_items

%table
  %thead
    %tr
      %th Order
      %th Ticket
      %th Price
      %th Quantity
      %th
      %th
      %th

  %tbody
    - @orderline_items.each do |orderline_item|
      %tr
        %td= orderline_item.order
        %td= orderline_item.ticket
        %td= orderline_item.price
        %td= orderline_item.quantity
        %td= link_to 'Show', orderline_item
        %td= link_to 'Edit', edit_orderline_item_path(orderline_item)
        %td= link_to 'Destroy', orderline_item, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Orderline item', new_orderline_item_path
