.container.mt-3
  %p#notice= notice

  %p
    %b Order_id:
    = @orderline_item.order.id
  %p
    %b Ticket_id:
    = @orderline_item.ticket.id
  %p
    %b Price:
    = @orderline_item.price
  %p
    %b Quantity:
    = @orderline_item.quantity

  = link_to 'Edit', edit_orderline_item_path(@orderline_item)
  \|
  = link_to 'Back', orderline_items_path
