.container.mt-3
  %h1 Listing inventories

  %table.table.table-striped.table-sm
    %thead
      %tr
        %th Username
        %th Ticket
        %th Quantity
        %th
        %th
        %th

    %tbody
      - @inventories.each do |inventory|
        %tr
          %td= inventory.user.username
          %td= inventory.ticket.get_label
          %td= inventory.quantity
          %td= link_to 'Show', inventory
          %td= link_to 'Edit', edit_inventory_path(inventory)
          %td= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Inventory', new_inventory_path
