-# frozen_string_literal: true
= simple_form_for(@movie) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.label :movie_type
    = f.select :movie_type, options_for_select([['', 'Unknown'], ['Action', 'Action'], ['Comedy', 'Comedy'], ['Drama','Drama'], ['Horror','Horror'], ['Animation', 'Animation'], ['Fantasy', 'Fantasy'], ['Sci-Fi', 'SciFi']], selected: @movie.movie_type)
    = f.input :description
    = f.input :duration
    = f.input :poster
    = f.input :date_in
    = f.input :date_out

  .form-actions
    = f.button :submit, class: "btn btn-outline-dark my-3 ms-1"

:css
  #movie_movie_type {
    height: 2rem;
    width: 8rem;
    padding-left: 0.4rem;
  }
