.container.mt-3
  %h1 Listing orders

  %table.table.table-striped.table-sm
    %thead
      %tr
        %th Order_id
        %th Username
        %th Datetime place
        %th Status
        %th
        %th
        %th

    %tbody
      - @orders.each do |order|
        %tr
          %td= order.id
          %td= order.user.username
          %td= order.datetime_place 
          %td= order.status         
          %td= link_to 'Show', order
          %td= link_to 'Edit', edit_order_path(order)
          %td= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Order', new_order_path
