.container.mt-3
  %p#notice= notice

  %p
    %b Datetime place:
    = @order.datetime_place
  %p
    %b Username:
    = @order.user.username
  %p
    %b Status:
    = @order.status
  %p
    %b OrderlineItems: 
    %br
    - @order.orderline_items.each do |o_item|
      = "#{o_item.id}, #{o_item.ticket.id}" 
      %br

  = link_to 'Edit', edit_order_path(@order)
  \|
  = link_to 'Back', orders_path
