-# frozen_string_literal: true
= simple_form_for(@product) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs#createProductForm
    = f.label :type
    = f.select :type, options_for_select([["Ticket","ticket"],["Beverage", "beverage"]], selected: "ticket")
    -# = f.association :chair, label_method: lambda { |chair| "Theater number: #{chair.theater.number}, #{chair.row}#{chair.column}" }
    -# = f.association :timetable, label_method: lambda {|timetable| "Theater number: #{timetable.theater.number}, #{timetable.movie.name}, #{timetable.datetime_start.to_date}, #{timetable.datetime_start.to_s(:time)}"}
    = f.association :chair
    = f.association :timetable
    = f.input :name
    = f.input :price

  .form-actions
    = f.button :submit, class: "btn btn-outline-dark my-3 ms-1"

:css
  #createProductForm select#product_type {
    height: 2rem;
    width: 8rem;
    padding-left: 0.4rem;
  }