%p#notice= notice

%p
  %b Type:
  = @product.type
%p
  %b Chair:
  = @product.chair
%p
  %b Timetable:
  = @product.timetable
%p
  %b Name:
  = @product.name
%p
  %b Price:
  = @product.price

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
